// Para setear el contenedor padre del ngx-progressbar

/* .container-fluid {
    overflow: hidden;
    position: relative;
}

 ::ng-deep {
    .container-fluid ng-progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .ng-progress-bar {
            position: absolute;
        }
    }
} */

ng-progress {
    .bar-placeholder {
        background-color: lightgray;
    }
    .bar {
        background: linear-gradient(to right, #F11712, #0099F7);
    }
}