<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">nombre usuario</h6>

        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value )" class="form p-t-20">
          <div class="form-group">
            <label for="txtUsuario">Nombre de usuario</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-user"></i>
              </div>
              <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" id="txtUsuario" placeholder="Nombre de usuario"
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="txtEmail">Dirección de correo electrónico</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-email"></i>
              </div>
              <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" id="txtEmail"
                placeholder="Ingrese correo electrónico" required>
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="pwd1">Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-lock"></i>
              </div>
              <input type="password" class="form-control" id="pwd1" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <label for="pwd2">Confirm Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-lock"></i>
              </div>
              <input type="password" class="form-control" id="pwd2" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox checkbox-success">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1"> Remember me </label>
            </div>
          </div> -->
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
          </button>
          <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button> -->
        </form>

      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle">nombre usuario</h6>

        <img src="">
        <input type="file">
        <br>
        <br>
        <button type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save" aria-hidden="true"></i>
          Actualizar foto
        </button>

      </div>
    </div>
  </div>
</div>