<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital( input.value )" type="text" class="form-control" placeholder="Buscar hospital...">

            </div>
        </div>
    </div>
</div>

<i *ngIf="cargando" class="fa fa-spinner fa-spin fa-3x fa-fw" style="margin: auto;display:block;"></i>

<div class="row animated fadeIn">
    <!-- *ngIf="!cargando" -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button (click)="crearHospital()" class="btn waves-effect waves-light btn-rounded btn-info">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Crear hospital
                    </button>
                </div>

                <h3 class="card-title">Hospitales registrados (
                    <small>{{totalRegistros}}</small> )</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Hospital</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td class="w70">
                                    <img (click)="mostrarModal( hospital._id )" [src]="hospital.img | imagen:'hospital'" class="img-50 card-img-top img-responsive pointer">
                                </td>
                                <td>
                                    <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control form-control-line" placeholder="Nombre del hospital"
                                        required>
                                </td>
                                <td>
                                    <button (click)="actualizarHospital( hospital )" class="btn waves-effect waves-light btn-primary">
                                        <i class="fa fa-save"></i>
                                    </button>

                                    <button (click)="borrarHospital( hospital )" class="btn waves-effect waves-light btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button *ngIf="desde>0" (click)="cambiarDesde(-5)" class="btn waves-effect waves-light btn-secondary">
                    Anteriores
                </button>

                <button *ngIf="desde+5<=totalRegistros" (click)="cambiarDesde(5)" class="btn waves-effect waves-light btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>